.all-video-block {

    &__wrap {
        &--bevel {}
    }

    /*
        ? Контейнер.
        todo: Миксует основной контейнер .conteiner из global.scss
    */
    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: var(--white);
    }

    // ? Тайтл блока
    &__title {
        margin-bottom: 30px;
    }

    // ? Обертка левой части. Основное содержимое
    &__left {
        width: 40%;
    }

    // ? Правая часть. Блок с видео
    &__right {
        width: 50%;
    }

    &__slider-nav {
        margin-top: 20px;
    }

    // Блок видео. Миксует
    &__video {
        min-height: 380px;
    }
}