.baner {
    overflow: hidden;
    position: relative;
    color: #fdfdfd;
    background-color: var(--main-color-2);
    background-repeat: no-repeat;
    background-position: center right;
    background-position-x: 110%;
    padding-bottom: 40px;

    &__container {
        height: 100%;
    }

    &__content {
        width: 100%;
        @media (max-width: 1024px) {
            width: 100%;
        }
        @media (max-width: 1024px) {
            display: grid;
            grid-template-areas:
                'row1'
                'row2'
                'row3'
                'row4';
        }
    }

    &__bg-main {
        position: absolute;
        background-color: inherit;
        overflow: hidden;
        right: 0;
        width: 50%;
        height: 100%;
        clip-path: polygon(15% 0, 100% 0%, 100% 100%, 15% 100%, 0% 50%);
        @media (max-width: 1440px) {
            width: 40%;
        }
        @media (max-width: 1024px) {
            width: 100%;
            clip-path: polygon(50% 0%, 100% 15%, 100% 100%, 0 100%, 0 15%);
            bottom: calc(-100% + 500px);
        }
        @media (max-width: 576px) {
            clip-path: polygon(82% 0, 180% 40%, 100% 100%, 0 100%, 0% 20%);
            bottom: calc(-100% + 420px);
        }

        img {
            position: absolute;
            left: 0;
            width: auto;
            height: 100%;
        }
    }

    &__bg-other {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 50%;
        height: calc(100% - 100px);
        @media (max-width: 1440px) {
            width: 40%;
        }
        @media (max-width: 1024px) {
            width: 100%;
        }

        img {
            height: 100%;
            width: auto;
            position: absolute;
            left: -150px;
            bottom: 0;
            @media (max-width: 1024px) {
                height: 80%;
                right: 0;
                left: unset;
            }
            @media (max-width: 576px) {
                height: 70%;
                right: -100px;
                bottom: -70px;
                left: unset;
            }
        }
    }

    &__title {
        width: 50%;
        color: #fdfdfd;
        margin-bottom: 30px;
        margin-top: 60px;
        font-weight: bold;
        @include main-title;
        @media (max-width: 1024px) {
            margin-top: 30px;
            width: 100%;
        }
    }

    &__descr {
        margin-bottom: 50px;
        @media (max-width: 1024px) {
            margin-bottom: 20px;
        }

        ul {
            padding-left: 10px;
        }

        ul li {
            margin-bottom: 13px;
            font-size: 1.4rem;
        }
    }

    &__btn {
        height: 70px;
        font-size: 1.4rem;
        @media (max-width: 576px) {
            grid-area: row4;
            margin-top: 40px;
            width: 100%;
        }
    }

    &__utp {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin-top: 80px;
        @media (max-width: 1024px) {
            grid-template-columns: 1fr 1fr;
            gap: 10px;
        }
        @media (max-width: 576px) {
            margin-top: 0;
            grid-template-columns: 1fr;
            width: max-content;
        }

        &-item {
            padding: 20px;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            background-color: rgba(253, 253, 253, 0.2);
            @media (max-width: 576px) {
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
            }
        }

        &-icon {
            margin-bottom: 15px;
            @media (max-width: 576px) {
                margin-bottom: 0;
                margin-right: 10px;
            }
        }

        &-desc {
            font-size: 1.25rem;
        }
    }
}