.big-utp {
    position: relative;
    padding-top: 145px;
    background-color: var(--main-color-6) !important;
    overflow: hidden;
    padding-bottom: 0;

    @media (max-width: 376px) {
        padding-top: 120px;
    }

    &:before {
        position: absolute;
        content: "";
        width: 200%;
        height: 200px;
        background: var(--main-color);
        z-index: 5;
        top: -196px;
        left: -50px;
        transform: rotate(-4deg);

        @media (max-width: 768px) {
            transform: rotate(-9deg);
        }

        @media (max-width: 576px) {
            top: -165px;
        }
    }

    &__bg-img {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: auto;
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        position: relative;
        gap: 1px 1px;
        max-width: 700px;
        margin-bottom: 80px;

        @media (max-width: 1210px) {
            max-width: 600px;
        }

        @media (max-width: 768px) {
            max-width: unset;
        }

        @media (max-width: 576px) {
            grid-template-columns: repeat(2, 1fr);
            margin-bottom: 50px;
        }

        @media (max-width: 376px) {
            grid-template-columns: 1fr;
        }

        &-item {
            position: relative;
            overflow: hidden;
            min-height: 170px;
            padding: 30px 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            color: var(--white);
            background-color: var(--main-color);
            transition: var(--fast-animation) all;

            @media (max-width: 1024px) {
                background-color: rgba(255, 255, 255, 0.1);
                min-height: unset;
            }

            @media (max-width: 576px) {
                padding: 20px 0;
            }

            // Скос, срез угла
            &--bevel {
                clip-path: polygon(100% 2%, 100% 85%, 85% 100%, 0 100%, 0 0);
            }

            // Срез у первого и последнего элемента
            &:first-child {
                clip-path: polygon(15% 0, 100% 0, 100% 100%, 0 100%, 0 15%);

            }

            &:last-child {
                clip-path: polygon(100% 2%, 100% 85%, 85% 100%, 0 100%, 0 0);
            }

            &-desc {
                display: block;
                max-width: 80%;
                font-weight: 400;

                @media (max-width: 576px) {
                    font-size: 1rem;
                }
            }
        }
    }

    &__utp {
        display: flex;
        position: relative;
        padding: 30px 0;
        background-color: rgba(0, 0, 0, 0.2);

        &-container {
            width: 100%;
            display: grid;
            gap: 50px 15px;
            grid-template-columns: repeat(4, 1fr);

            @media (max-width: 768px) {
                grid-template-columns: repeat(2, 1fr);
            }

            @media (max-width: 576px) {
                gap: 0;
            }
        }

        &-item {
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;

            @media (max-width: 576px) {
                padding: 20px 15px;
            }

            &-title {
                margin-bottom: 12px;
                display: block;
                font-size: 2.1rem;
                font-weight: 700;
                color: var(--white);

                @media (max-width: 576px) {
                    font-size: 1.7rem;
                    margin-bottom: 5px;
                }
            }

            &-desc {
                display: block;
                font-size: 1.3rem;
                font-weight: 500;
                color: var(--white);

                @media (max-width: 576px) {
                    font-size: 1.1rem;
                }
            }
        }
    }
}