.footer {
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: var(--main-bg-color);

    // Общая обёртка левого и правого контейнера
    &__wrap {
        display: flex;
    }

    // Обертка левого контента (главная информация)
    &__main {
        width: 40%;

        > * {
            margin-top: 30px;
            margin-bottom: 30px;

            &:last-child {
                margin: 0;
            }
        }
    }

    // Обертка правого контента (Блок ссылок)
    &__other {
        display: flex;
        justify-content: space-between;
        width: -webkit-fill-available;
        width: -moz-available;
        width: fill-available;
        
        // Стили списков
        ul {
            padding: 0;
            margin-right: 50px;

            &:last-child {
                margin-right: 0;
            }

            li {
                padding: 0;
                margin-bottom: 15px;
                
                &:before {
                    content: unset;
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }

            a {
                color: #D5DAE3; border-bottom: 1px solid transparent; transition: var(--fast-animation) all;
                
                &:hover {
                    color: var(--white);
                    border-bottom: 1px solid var(--white);
                }
            }
        }

    }
}

// Стили логотипа
.footer__logo {
    max-width: 190px;

    .footer__logo-svg {
        filter: brightness(0) invert(1);
        transition: var(--fast-animation) all;

        &:hover {
            filter: brightness(1) invert(0);
        }
    }
}

/* 
    ? Элемент телефона
    desc: Расширяет и переопределяет стили БЭМ блока blocks/_phone.scss
*/
.footer__phone {
    margin-bottom: 0px;

    &:before {
        width: 25px;
        height: 25px;
    }

    &-number {
        font-size: 1.6rem;
    }
}

// Блок с городом
.footer__city {
    height: 30px;
    color: var(--white);
    margin-top: 10px;

    &-list {
        left: 0;
    }
}


// Блок время работы
.footer__working {
    color: #D5DAE3;

    // Все дочерние элементы первого уровня
    > * {
        display: block;
        line-height: 140%;
    }
}

// Блок соц.сетей
.footer__social {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: max-content;

    &-link {
        margin-right: 20px;
        opacity: 0.9;
        transition: var(--fast-animation) all;

        &:hover {
            opacity: 1;
            transform: scale(1.015);
        }

        &:last-child {
            margin: 0;
        }
    }
}


// Блок ссылка политики конф
.footer__politic {
    &-link {
        color: var(--white);
        border-bottom: 1px solid var(--white);
    }
}

// Блок копирайта
.footer__copyright {
    margin-top: 60px;

    &:before {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        background-color: #CED2DB;
        margin-bottom: 30px;
    }

    &-text {
        display: block;
        color: #D5DAE3;
        font-size: 1.1rem;
        line-height: 140%;

        &:first-child {
            text-transform: uppercase;
            margin-bottom: 5px;
        }
    }
}