/*
    Глобальные стили, которые необходимо подключать на каждой странице.
    Служит для формирования начального layout и сброса стандартных стилей

    Медиазапросы:
        1440px
        1210px
        1024px
        768px
        576px
        376px
*/

/* Подключение шрифтов */
@import "../fonts/inter/stylesheet.css";

* {
    padding: 0;
    margin: 0;
    line-height: normal;
    box-sizing: border-box;
}

html {
    font-size: 16px;

    @media (max-width: 1024px) {
        font-size: 14px;
    }

}

body {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 130%;
    position: relative;
}

p {
    margin-bottom: 20px;
}

button {
    font-family: 'Inter', sans-serif;
    border: none;
}

/* Списки */
ul {
    list-style: none;
    padding-left: 25px;
    font-size: 1rem;

    li {
        position: relative;
        padding-left: 25px;
        display: flex;
        align-items: center;

        &:last-child {
            margin-bottom: 0 !important;
        }

        &:before {
            position: absolute;
            content: "";
            width: 15px;
            height: 15px;
            background-image: url(../img/elements/circle.svg);
            left: 0px;
            background-repeat: no-repeat;
            background-position: top right;
        }
    }
}

ul.marker-line,
ol.marker-line {
    padding-left: 15px;

    li {
        padding-left: 20px;
    }

    li:before {
        background-image: unset;
        background-color: var(--main-color-4);
        height: 3px;
        width: 10px;
        border-radius: 10px;
    }
}

/* END Списки */

a {
    font-weight: 400;
    color: #000;
    text-decoration: none;
}

img {
    width: 100%;
}

/* Контейнер */
.container {
    position: relative;
    margin: 0 auto;
    max-width: 1400px;

    @media (max-width: 1440px) {
        max-width: 1170px;
    }

    @media (max-width: 1210px) {
        max-width: 100%;
        padding: 0 var(--container-padding);
    }
}

/* Общие стили блоков (чанков) */
.block {
    position: relative;
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: var(--main-color);

    @media (max-width: 1210px) {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    @media (max-width: 1024px) {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    @media (max-width: 376px) {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

/* Блок заголовок */
.block-title {
    padding-top: 24px;
    margin-bottom: 64px;
    color: var(--white);

    @media (max-width: 1210px) {
        margin-bottom: 40px;
    }

    @media (max-width: 376px) {
        margin-bottom: 30px;
    }

    &__title {
        display: block;
        padding-top: 24px;
        margin-top: -24px;
        @include title-h1;

        @media (max-width: 1024px) {
            padding-top: 20px;
        }

        &:after {
            content: '';
            height: 6px;
            width: 90px;
            background-color: var(--main-color-4);
            position: absolute;
            top: 0;
            left: 0;

            @media (max-width: 1024px) {
                height: 4px;
                width: 80px;
            }

            @media (max-width: 376px) {
                width: 60px;
            }
        }

        &-mini {
            display: block;
            text-transform: uppercase;
            color: var(--main-color-4);
            margin-bottom: 10px;
            font-weight: 400;

            @media (max-width: 576px) {
                font-size: 1.1rem;
            }

            @media (max-width: 376px) {
                font-size: 1rem;
            }

            ~*:after {
                content: unset;
            }
        }
    }

    &__desc {
        margin-top: 12px;
        display: block;
        font-size: 1.38rem;
        max-width: 700px;
        line-height: 140%;

        @media (max-width: 768px) {
            font-size: 1.2rem;
            margin-top: 6px;
        }

        @media (max-width: 576px) {
            font-size: 1.15rem;
            margin-top: 6px;
        }

        @media (max-width: 376px) {
            font-size: 1rem;
            margin-top: 6px;
        }
    }
}

@keyframes animation-pull {
    0% {
        transform: rotate(0);
    }

    50% {
        transform: rotate(15deg);
    }

    100% {
        transform: rotate(0);
    }
}