/*
    Глобальные стили, которые необходимо подключать на каждой странице.
    Служит для формирования начального layout и сброса стандартных стилей
*/

/* Подключение шрифтов */
@import "../fonts/inter/stylesheet.css";

* {
    padding: 0;
    margin: 0;
    line-height: normal;
    box-sizing: border-box;
}
html {
    font-size: 16px;
}
body {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 130%;
}
button {
    font-family: 'Inter', sans-serif;
}
ul {
    list-style: none;
    padding-left: 25px;

    li {
        position: relative;
        padding-left: 25px;
        display: flex;
        align-items: center;

        &:last-child {
            margin-bottom: 0;
        }

        &:before {
            position: absolute;
            content: "";
            width: 15px;
            height: 15px;
            background-image: url(../img/elements/circle.svg);
            left: 0px;
            background-repeat: no-repeat;
            background-position: top right;
        }
    }
}
a {
    font-weight: 400;
    color: #000;
    text-decoration: none;
}
img {
    width: 100%;
}

/* Контейнер */
.container {
    position: relative;
    margin: 0 auto;
    max-width: 1400px;

    @media (max-width: 1440px) {
        max-width: 1170px;
    }

    @media (max-width: 1210px) {
        max-width: 100%;
        padding: 0 20px;
    }
}

/* Общие стили блоков (чанков) */
.block {
    position: relative;
    padding-top: 120px;
    padding-bottom: 120px;

    background-color: var(--main-bg-color);

    &-title {
        padding-top: 24px;
        margin-bottom: 64px;
        color: var(--white);

        &__title {
            display: block;
            padding-top: 24px;
            margin-top: -24px;
            margin-bottom: 64px;
            max-width: calc(100% - 450px);
            @include title-h1;

            &:after {
                content: '';
                height: 6px;
                width: 90px;
                background-color: var(--main-bg-color-4);
                position: absolute;
                top: 0;
                left: 0;
            }

            &-mini {
                display: block;
                text-transform: uppercase;
                color: var(--main-bg-color-4);
                margin-bottom: 10px;
                font-weight: 400;

                ~ *:after {
                    content: unset;
                }
                ~ span {
                    
                }
            }
        }
        &__desc {
            display: block;
            font-size: 1.38rem;
            max-width: 700px;
            line-height: 140%;
        }
    }
}