/*
    ? Шапка сайта
*/


// ? Верхняя строка
.ticker {
    background: var(--main-bg-color);
    color: var(--white);
    height: 50px;
    @media (max-width: 1210px) {
        display: none;
    }

    &__container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__cta,
    &__info {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    /* 
        ? Элемент с городами в шапке
        desc: Расширяет и переопределяет стили БЭМ блока blocks/_drop-listing.scss
    */
    &__city {
        margin-right: 25px;

        // Текущий город при множестве городов
        &-current {
            padding: 0 10px;
            height: 100%;
        }

    } // END блок с городами


    /* 
        ? Элемент с номерами телефонов в шапке
        desc: Расширяет и переопределяет стили БЭМ блока blocks/_phone.scss
    */
    &__phone {
        &-number {
            font-size: 1rem;
        }
    } // END Элемент с номерами телефонов в шапке
}

.header-info {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--main-color-3);

    &__container {
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
            "col1 col2 col3";
        justify-content: center;
    }

    &__nav {
        height: 100%;
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        @media (max-width: 1210px) {
            grid-area: col1;
        }
    }

    &__btn {
        margin-left: 10px;
        display: flex;
        align-items: center;
        @media (max-width: 1210px) {
            justify-content: end;
        }
    }
}
// Брэнд-лого
.brand {
    display: flex;
    align-items: center;
    @media (max-width: 1210px) {
        justify-content: center;
    }
}

// Блок с выпадающим списком при наведении
// Меню
.nav {
    height: 50px;
    display: flex;
    align-items: center;

    @media (max-width: 1210px) {
        display: none;
    }

    &__burger {
        padding: 12px;
        height: 45px;
        width: 55px;
        display: none;
        flex-direction: column;
        justify-content: space-between;

        &-line {
            display: block;
            height: 2px;
            border-radius: 5px;
            
            &:nth-child(1) {
                background-color: var(--main-btn-color);
            }
            &:nth-child(2) {
                background-color: var(--main-color-7);
            }
            &:nth-child(3) {
                background-color: var(--black);
            }
        }

        @media (max-width: 1210px) {
            display: flex;
        }
    }

    &__item {
        position: relative;
        padding: 0;
        height: 100%;
        display: flex;
        align-items: center;
        width: max-content;
        margin-right: 10px;
        cursor: pointer;

        &:before {
            content: unset;
        }

        // Раскрываем подпункты меню при наведении на элемент списка
        &:hover > .nav__sub-menu {
            visibility: visible;
            opacity: 1;
        }
        &:hover > .nav__item-arrow {
            transform: rotate(-140deg);
        }

        > .nav__item-arrow {
            margin-right: 15px;
        }

        // Пункт меню в виде текста или ссылки
        &-link,
        &-active {
            display: flex;
            align-items: center;
            height: 100%;
            width: 100%;
            font-size: 1.25rem;
            font-weight: 300;
            padding: 0 15px;
            transition: var(--fast-animation) all;
        }

        // Стили для активного меню
        &-active {
            color: var(--main-btn-color);
            cursor: context-menu;
        }

        &-link {
            &:hover {
                color: #4969B5;
            }
        }

        &-arrow {
            border: solid black;
            border-width: 0 2px 2px 0;
            display: inline-block;
            padding: 2px;
            transform: rotate(45deg);
            transition: var(--fast-animation) all;
        }
    }

    &__sub-menu {
        position: absolute;
        padding: 0;
        height: 100%;
        top: 100%;
        opacity: 0;
        visibility: hidden;
        z-index: 10;
        transition: var(--fast-animation) all;

        .nav__item {
            min-width: 100%;
            margin-right: 0;
            background-color: #fff;
            transition: var(--fast-animation) all;
        }

        .nav__item-arrow {
            
            transform: rotate(-45deg);
        }

        .nav__sub-menu {
            left: 100%;
            top: 0;
        }
    }
}