.modals {
    position: absolute;
    left: 0;
    width: 100%;
    height: calc(100vh - 150px);
    background-color: aqua;
    z-index: -10;
}

.modal-call {
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}