/*
    Чанк order-call
*/
.order-call {
    position: relative;
    overflow: hidden;

    // Фон блока
    &__bg {
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, rgba(39, 46, 62, 0.8), rgba(39, 46, 62, 0.8)), url('../img/bg.jpg');
        background-size: 100% auto;
        background-repeat: no-repeat;

        @media (max-width: 1024px) {
            background-size: auto;
        }

        @media (max-width: 768px) {
            background-size: auto 100%;
        }


        img {
            width: 100%;
            height: 100%;
        }
    }

    // Контейнер
    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (max-width: 1024px) {
            flex-direction: column-reverse;
        }
    }

    // Левая часть блока
    &__left {
        position: relative;
        width: 45%;
        height: 600px;

        @media (max-width: 1440px) {
            height: 500px;
        }

        @media (max-width: 1024px) {
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
        }

        @media (max-width: 768px) {
            height: 257px;
        }

        @media (max-width: 576px) {
            height: 300px;
            flex-direction: column-reverse;
        }

        &-btn {
            display: none;

            @media (max-width: 1024px) {
                display: flex;
                justify-content: center;
                width: 50%;
            }

            @media (max-width: 768px) {
                justify-content: right;
            }

            @media (max-width: 576px) {
                justify-content: center;
                position: absolute;
                bottom: 40px;
                width: 100%;
            }

            .btn {
                @media (max-width: 1024px) {
                    display: flex;
                    margin: 0;
                    height: 70px;
                    font-size: 1.5rem;
                }

                @media (max-width: 576px) {
                    width: 100%;
                    font-size: 1.2rem;
                    height: 60px;
                }

                @media (max-width: 376px) {
                    height: 50px;
                }
            }
        }

        &-img {
            position: relative;
            width: 100%;
            height: 100%;

            @media (max-width: 1024px) {
                width: 50%;
            }

            @media (max-width: 576px) {
                width: 100%;
                display: flex;
                justify-content: center;
            }

            img {
                position: absolute;
                bottom: 0;

                @media (max-width: 1024px) {
                    position: static;
                }

                @media (max-width: 768px) {
                    position: absolute;
                }

                @media (max-width: 576px) {
                    position: static;
                    height: 100%;
                    width: auto;
                }
            }
        }

    }

    // Правая часть блока
    &__right {
        width: 50%;

        @media (max-width: 1024px) {
            width: 100%;
            text-align: center;
            margin-top: 50px;
            margin-bottom: 50px;
        }
    }

    &__phone {
        @media (max-width: 1024px) {
            justify-content: center;
        }
    }

    // Тело блока (основной текст)
    &__body {}

    // Тайтл
    &__title {
        display: block;
        color: var(--white);
        margin-bottom: 32px;
        @include title-h1;

        @media (max-width: 1210px) {
            margin-bottom: 20px;
        }
    }

    // Описание
    &__desc {
        display: block;
        color: var(--white);
        font-size: 20px;
        line-height: 140%;
        margin-bottom: 20px;

        @media (max-width: 376px) {
            font-size: 1rem;
        }
    }

    // Кнопка
    &__btn {
        margin-top: 50px;

        @media (max-width: 1210px) {
            margin-top: 30px;
        }

        @media (max-width: 1024px) {
            display: none;
        }
    }
}