:root {
    // Пропорция
    --index: 1vh + 1vw;

    // Падинги контейнера, когда он резиновый ( не фиксированный )
    --container-padding: 30px;
    --container-padding-negative: -30px;

    // Стрелки
    --arrow-drop-black: url("data:image/svg+xml,%3Csvg width='10' height='7' viewBox='0 0 10 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.719743 2.03023L4.99999 6.31048L9.28024 2.03023L8.21974 0.969727L4.99999 4.18948L1.78024 0.969726L0.719743 2.03023Z' fill='%231E1E1E'/%3E%3C/svg%3E");
    --arrow-drop-white: url("data:image/svg+xml,%3Csvg width='10' height='7' viewBox='0 0 10 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.719743 2.03023L4.99999 6.31048L9.28024 2.03023L8.21974 0.969727L4.99999 4.18948L1.78024 0.969726L0.719743 2.03023Z' fill='%23E8EBF2'/%3E%3C/svg%3E");
    --arrow-up: url("data:image/svg+xml,%3Csvg width='13' height='13' viewBox='0 0 13 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.67713 0.343133V2.33717L9.57551 2.34425L0.970023 10.9497L2.38424 12.3639L10.9897 3.75846L10.9968 11.6568H12.9908V0.343133H1.67713Z' fill='%23FDFDFD' fill-opacity='0.8'/%3E%3C/svg%3E");
    --phone-white: url("data:image/svg+xml;charset=UTF-8,%3csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0.666664 6.79968C0.673721 12.2433 2.83932 17.4619 6.68853 21.3111C10.5378 25.1604 15.7564 27.326 21.2 27.333C22.8267 27.333 24.3867 26.6868 25.5369 25.5366C26.6871 24.3864 27.3333 22.8263 27.3333 21.1997C27.336 20.8552 27.3047 20.5113 27.24 20.173C27.1916 19.8459 27.1112 19.5244 27 19.213C26.9232 18.994 26.7905 18.7989 26.6151 18.6469C26.4397 18.4949 26.2277 18.3913 26 18.3463L18 16.5197C17.7828 16.4704 17.5568 16.4764 17.3426 16.5369C17.1283 16.5975 16.9326 16.7107 16.7733 16.8663C16.5867 17.0397 16.5733 17.053 15.72 18.693C12.8389 17.3797 10.5251 15.0754 9.2 12.1997C10.8533 11.333 10.8667 11.3197 11.04 11.133C11.1956 10.9737 11.3089 10.7781 11.3694 10.5638C11.43 10.3495 11.4359 10.1235 11.3867 9.90634L9.56 1.90634C9.50886 1.68594 9.40247 1.48217 9.25086 1.31422C9.09924 1.14628 8.90738 1.01968 8.69333 0.946339C8.37686 0.833805 8.05118 0.749043 7.72 0.693009C7.3849 0.639347 7.04604 0.612595 6.70666 0.613007C5.08696 0.637594 3.54275 1.30195 2.41113 2.46104C1.27951 3.62014 0.652391 5.17984 0.666664 6.79968ZM24.6667 21.1997C24.6632 22.118 24.2968 22.9977 23.6474 23.6471C22.9981 24.2965 22.1183 24.6628 21.2 24.6663C16.4625 24.6628 11.9201 22.7793 8.57026 19.4294C5.22037 16.0795 3.33686 11.5371 3.33333 6.79968C3.33684 5.88134 3.70321 5.00162 4.35258 4.35225C5.00194 3.70288 5.88166 3.33652 6.8 3.33301C6.94666 3.33301 7.09333 3.33301 7.24 3.33301L8.66666 9.51967L7.93333 9.90634C6.77333 10.5063 5.93333 10.9463 6.38667 12.0663C7.17751 14.2758 8.45062 16.2814 10.1135 17.9374C11.7764 19.5933 13.7872 20.858 16 21.6397C17.04 22.1197 17.52 21.213 18.12 20.0663L18.48 19.333L24.6667 20.7597L24.6667 21.1997Z' fill='%23fff'/%3e%3c/svg%3e");
    --phone-white-reverse: url("data:image/svg+xml;charset=UTF-8,%3csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg clip-path='url(%23clip0_2101_3407)'%3e%3cpath d='M18.3333 5.50016C18.3289 8.90242 16.9754 12.1641 14.5696 14.5698C12.1638 16.9756 8.90219 18.3291 5.49993 18.3335C4.48327 18.3335 3.50825 17.9296 2.78936 17.2107C2.07047 16.4918 1.6666 15.5168 1.6666 14.5002C1.66496 14.2849 1.6845 14.07 1.72493 13.8585C1.75518 13.6541 1.80542 13.4531 1.87493 13.2585C1.92296 13.1216 2.00588 12.9997 2.11549 12.9047C2.22511 12.8097 2.35762 12.7449 2.49993 12.7168L7.49993 11.5752C7.63565 11.5444 7.77692 11.5481 7.91084 11.5859C8.04475 11.6238 8.16706 11.6946 8.2666 11.7918C8.38327 11.9002 8.3916 11.9085 8.92493 12.9335C10.7256 12.1127 12.1717 10.6725 12.9999 8.87516C11.9666 8.3335 11.9583 8.32516 11.8499 8.2085C11.7527 8.10896 11.6819 7.98665 11.644 7.85273C11.6062 7.71881 11.6025 7.57755 11.6333 7.44183L12.7749 2.44183C12.8069 2.30408 12.8734 2.17672 12.9681 2.07176C13.0629 1.96679 13.1828 1.88766 13.3166 1.84183C13.5144 1.77149 13.7179 1.71852 13.9249 1.6835C14.1344 1.64996 14.3462 1.63324 14.5583 1.63349C15.5706 1.64886 16.5357 2.06408 17.243 2.78852C17.9502 3.51295 18.3422 4.48777 18.3333 5.50016V5.50016ZM3.33327 14.5002C3.33546 15.0741 3.56444 15.6239 3.97029 16.0298C4.37615 16.4357 4.92597 16.6646 5.49993 16.6668C8.46084 16.6646 11.2998 15.4874 13.3935 13.3938C15.4872 11.3001 16.6644 8.46107 16.6666 5.50016C16.6644 4.9262 16.4354 4.37638 16.0296 3.97052C15.6237 3.56467 15.0739 3.33569 14.4999 3.3335C14.4083 3.3335 14.3166 3.3335 14.2249 3.3335L13.3333 7.20016L13.7916 7.44183C14.5166 7.81683 15.0416 8.09183 14.7583 8.79183C14.264 10.1728 13.4683 11.4262 12.429 12.4612C11.3897 13.4962 10.1329 14.2866 8.74993 14.7752C8.09993 15.0752 7.79993 14.5085 7.42493 13.7918L7.19993 13.3335L3.33327 14.2252L3.33327 14.5002Z' fill='%23FDFDFD'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='clip0_2101_3407'%3e%3crect width='20' height='20' fill='white' transform='translate(0 20) rotate(-90)'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e");

    // Главные цвета
    --main-color: #272E3E;
    --main-color-2: #141E36;
    --main-color-3: #EDEDED;
    --main-color-4: #A5BEF7;
    --main-color-5: #1B2F70;
    --main-color-6: #313A4E;
    --main-color-7: #4969B5;
    --main-color-8: #747E94;

    // Главные цвета кнопок
    --main-btn-color: #C43742;
    --main-btn-color-hover: #9E212B;

    // Белый и черные цвета
    --white: #FDFDFD;
    --black: #1E1E1E;

    /*
        Размеры заголовков
    */
    // Главный заголовок
    --main-title-size: 64px;
    --main-title-lh: 110%;

    // H1 заголовок
    --title-h1-size: 40px;
    --title-h1-lh: 110%;

    // H2 заголовок
    --title-h2-size: 32px;
    --title-h2-lh: 110%;

    // H3 заголовок
    --title-h3-size: 24px;
    --title-h3-lh: 140%;

    // Прочее
    --fast-animation: 0.3s;


    @media (max-width: 1440px) {
        // Главный заголовок
        --main-title-size: 50px;
        --main-title-lh: 110%;
    }

    @media (max-width: 1210px) {
        // H1 Заголовок
        --title-h1-size: 35px;
        --title-h1-lh: 110%;

        // H2 заголовок
        --title-h2-size: 26px;
        --title-h2-lh: 110%;
    }

    @media (max-width: 768px) {
        // Главный заголовок
        --main-title-size: 40px;
        --main-title-lh: 100%;

        // H1 Заголовок
        --title-h1-size: 30px;

    }

    @media (max-width: 576px) {
        // Главный заголовок
        --main-title-size: 35px;
        --main-title-lh: 100%;

        // H1 Заголовок
        --title-h1-size: 28px;

        // H2 заголовок
        --title-h2-size: 24px;
    }

    @media (max-width: 376px) {
        // Падинги контейнера, когда он резиновый ( не фиксированный )
        --container-padding: 20px;
        --container-padding-negative: -20px;

        // Главный заголовок
        --main-title-size: 25px;
        --main-title-lh: 100%;

        // H1 Заголовок
        --title-h1-size: 25px;

        // H3 заголовок
        --title-h3-size: 17px;
        --title-h3-lh: 140%;
    }
}


// Миксины тайтлов
@mixin main-title {
    font-size: var(--main-title-size);
    line-height: var(--main-title-lh);
}

@mixin title-h1 {
    position: relative;
    font-size: var(--title-h1-size);
    line-height: var(--title-h1-lh);
    font-weight: 600;
}

@mixin title-h2 {
    position: relative;
    font-size: var(--title-h2-size);
    line-height: var(--title-h2-lh);
}

@mixin title-h3 {
    position: relative;
    font-size: var(--title-h3-size);
    line-height: var(--title-h3-lh);
}