:root {
    // Главные цвета
    --main-bg-color: #272E3E;
    --main-bg-color-2: #141E36;
    --main-bg-color-hover: #4969B5;
    --main-btn-color: #C43742;

    // Прочее
    --fast-animation: 0.3s;
}