.drop-listing {
    position: relative;
    font-size: 1rem;
    height: 100%;
    display: flex;
    align-items: center;
    width: max-content;

    &__current {
        display: flex;
        align-items: center;
        height: 100%;
        cursor: pointer;
        transition: var(--fast-animation) all;

        &:hover::after {
            transform: rotate(-180deg);
        }

        &-arrow::after,
        &-arrow--black::after {
            content: '';
            display: block;
            width: 14px;
            height: 7px;
            margin-top: 2px;
            margin-left: 5px;
            background-repeat: no-repeat;
            background-size: 100% 100%;
            background-image: var(--arrow-drop-white);
            transition: var(--fast-animation) all;
        }
        &-arrow--black::after {
            background-image: var(--arrow-drop-black);
        }
        
        a {
            color: #fff;
        }
    }

    &__icon {
        margin-right: 10px;
    }

    // Список номеров
    &__item {
        display: block;
        padding: 10px 15px;
        width: 100%;
        color: #fff;
        transition: var(--fast-animation) all;

        &:last-child {
            margin-bottom: 0;
        }

        &:hover {
            background-color: var(--main-bg-color-2);
        }
    }

    &__list {
        visibility: hidden;
        opacity: 0;

        position: absolute;
        top: 100%;
        right: 0;

        width: max-content;

        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 100;
        background: var(--main-btn-color);
        transition: transform .05s, opacity .2s;

        &--open {
            visibility: visible;
            opacity: 1;
        }
    }

}