.phone {
    display: flex;
    align-items: center;

    &:before {
        content: "";
        display: block;
        width: 1.5rem;
        height: 1.5rem;
        margin-right: 10px;
        background-size: 100% 100%;
        background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.666664 6.79968C0.673721 12.2433 2.83932 17.4619 6.68853 21.3111C10.5378 25.1604 15.7564 27.326 21.2 27.333C22.8267 27.333 24.3867 26.6868 25.5369 25.5366C26.6871 24.3864 27.3333 22.8263 27.3333 21.1997C27.336 20.8552 27.3047 20.5113 27.24 20.173C27.1916 19.8459 27.1112 19.5244 27 19.213C26.9232 18.994 26.7905 18.7989 26.6151 18.6469C26.4397 18.4949 26.2277 18.3913 26 18.3463L18 16.5197C17.7828 16.4704 17.5568 16.4764 17.3426 16.5369C17.1283 16.5975 16.9326 16.7107 16.7733 16.8663C16.5867 17.0397 16.5733 17.053 15.72 18.693C12.8389 17.3797 10.5251 15.0754 9.2 12.1997C10.8533 11.333 10.8667 11.3197 11.04 11.133C11.1956 10.9737 11.3089 10.7781 11.3694 10.5638C11.43 10.3495 11.4359 10.1235 11.3867 9.90634L9.56 1.90634C9.50886 1.68594 9.40247 1.48217 9.25086 1.31422C9.09924 1.14628 8.90738 1.01968 8.69333 0.946339C8.37686 0.833805 8.05118 0.749043 7.72 0.693009C7.3849 0.639347 7.04604 0.612595 6.70666 0.613007C5.08696 0.637594 3.54275 1.30195 2.41113 2.46104C1.27951 3.62014 0.652391 5.17984 0.666664 6.79968ZM24.6667 21.1997C24.6632 22.118 24.2968 22.9977 23.6474 23.6471C22.9981 24.2965 22.1183 24.6628 21.2 24.6663C16.4625 24.6628 11.9201 22.7793 8.57026 19.4294C5.22037 16.0795 3.33686 11.5371 3.33333 6.79968C3.33684 5.88134 3.70321 5.00162 4.35258 4.35225C5.00194 3.70288 5.88166 3.33652 6.8 3.33301C6.94666 3.33301 7.09333 3.33301 7.24 3.33301L8.66666 9.51967L7.93333 9.90634C6.77333 10.5063 5.93333 10.9463 6.38667 12.0663C7.17751 14.2758 8.45062 16.2814 10.1135 17.9374C11.7764 19.5933 13.7872 20.858 16 21.6397C17.04 22.1197 17.52 21.213 18.12 20.0663L18.48 19.333L24.6667 20.7597L24.6667 21.1997Z' fill='%23A5BDF6'/%3E%3C/svg%3E");
        
    }

    &__number {
        color: var(--white);
        height: 100%;
        font-weight: 600;
        @include title-h2;
    }
}