// Стилизация слайдера
.slider {
    height: 100%;
    top: -65px;

    &__button-wrap {
        display: flex;
        align-items: center;
        justify-content: end;
        margin-bottom: 25px;
    }

    &__button-next,
    &__button-prev {
        position: relative;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 95px;
        height: 65px;
        cursor: pointer;
        transition: var(--fast-animation) all;

        // Если слайдов нет (некуда листать)
        &.swiper-button-disabled {
            opacity: 0.5;
            cursor: auto;

            &:hover {
                background-color: unset;
            }
        }

        // Кнопка при наведении
        &:hover {
            background-color: rgba(253, 253, 253, 0.1);
        }

        &:before {
            position: absolute;
            content: '';
            width: 60px;
            height: 17px;
            background-image: url('../img/elements/arrow-long.svg');
            background-repeat: no-repeat;
            transition: var(--fast-animation);
        }
    }

    &__button-prev {
        transform: rotate(180deg);
    }
}