// Табы вертикальне. Выпадающий список
.tabs-list {
    position: relative;

    $padding-item: 15px;

    &__bg {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: var(--main-color);
        opacity: 0.4;
    }

    // Изначально скрыт выпадающий список
    &__current {
        z-index: 1;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: $padding-item;
        width: 100%;
        font-weight: 600;
        height: 100%;
        background-color: var(--main-color-7);
        color: var(--white);
        cursor: pointer;
        display: none;

        &:after {
            content: '';
            width: 20px;
            height: 13px;
            background-image: var(--arrow-drop-white);
            background-repeat: no-repeat;
            background-size: cover;
            transition: var(--fast-animation) all;

        }

        &--open {
            &:after {
                transform: rotate(-180deg);
            }
        }

        &-text {
            display: block;
        }
    }

    // Непосредственно сам список
    &__list {
        padding: 8px;
        color: var(--white);
    }

    // Пункт списка
    &__item {
        border-radius: 3px;
        padding: $padding-item;
        margin-bottom: 5px;
        transition: var(--fast-animation) all;

        &:not(.tabs-list__item-current):hover {
            background-color: var(--main-color);
            cursor: pointer;
        }

        &:before {
            content: unset;
        }

        a {
            color: var(--white);
            font-weight: 300;
            width: 100%;
            height: 100%;
            padding: 15px;
        }

        &-current {
            background-color: var(--main-color-7);
            font-weight: 500;
            cursor: context-menu;
            padding: $padding-item;
        }
    }
}

.tabs-content {
    position: relative;

    &__item {
        display: block;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        visibility: hidden;
        background-color: antiquewhite;
        margin-bottom: 20px;
        transition: var(--fast-animation) all;

        &--open {
            opacity: 1;
            visibility: visible;
        }
    }
}