/*
    Стили кнопок
*/

// Каркас кнопки
.btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    min-width: 170px;
    width: max-content;
    height: 70px;
    font-size: 1.4rem;
    padding: 0 20px;
    border-radius: 3px;
    font-weight: 400;
    color: #fff;
    background-color: var(--main-btn-color);
    cursor: pointer;
    transition: var(--fast-animation) all;

    &:hover {
        background-color: var(--main-btn-color-hover);
    }

    @media (max-width: 1210px) {
        height: 60px;
        font-size: 1.2rem;
    }

    @media (max-width: 376px) {
        height: 40px;
        font-size: 1rem;
        min-width: unset;
        width: 100%;
    }
}

// Обобщенные стили всех кнопок с иконками
.btn-next,
.btn-download {
    &:after {
        content: '';
        width: 16px;
        height: 16px;
        margin-left: 15px;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        transition: var(--fast-animation) all;

        @media (max-width: 376px) {
            width: 13px;
            height: 13px;
            margin-left: 10px;
        }
    }

    &:hover {
        &:after {
            transform: translateX(3px);
        }
    }
}

// Кнопка с иконкой  стрелки
.btn-next {
    &:after {
        background-image: var(--arrow-next-white);
    }
}

// Кнопка с иконкой  скачать
.btn-download {

    &:after {
        width: 25px;
        height: 20px;
        background-image: var(--arrow-download-white);

        @media (max-width: 376px) {
            width: 13px;
            height: 13px;
            margin-left: 10px;
        }
    }

    &:hover {
        &:after {
            transform: translateX(0);
            transform: translateY(-2px);
        }
    }
}

// ? Кнопки с бордером
.btn-border,
.btn-border-download,
.btn-border-next {
    position: relative;
    display: flex;
    align-items: center;
    color: var(--white);
    font-weight: 500;
    padding: 10px 20px;
    font-size: 1rem;
    border: 2px solid var(--white);
    border-radius: 2px;
    cursor: pointer;
    transition: var(--fast-animation) all;

    &:hover {
        background-color: var(--white);
        color: var(--black);
    }

    &:after {
        content: '';
        display: block;
        width: 16px;
        height: 16px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        margin-left: 10px;
        transition: var(--fast-animation) all;
    }
}

// Иконка скачать
.btn-border-download:after {
    background-image: var(--arrow-download-white);
    transform: translateY(-1px);
}

.btn-border-download:hover:after {
    background-image: var(--arrow-download-black);
    transform: translateY(0);
}

// Иконка далее
.btn-border-next:after {
    background-image: var(--arrow-next-white);
}

.btn-border-next:hover:after {
    background-image: var(--arrow-next-black);
}

// ? END Кнопки с бордером


// Кнопка закрытия
.btn-close,
.btn-close--white {
    position: relative;
    display: block;
    width: 20px;
    height: 20px;
    background-color: transparent;
    transition: var(--fast-animation) all;

    &:hover {
        cursor: pointer;
    }

    &:before,
    &:after {
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: var(--main-color-8);
        transform: rotate(45deg);
        border-radius: 5px;
        transition: var(--fast-animation) all;
    }

    &:after {
        transform: rotate(135deg);
    }
}

.btn-close--white {

    &:before,
    &:after {
        background-color: var(--white);
    }
}

// Кнопка заказать звонок
.btn-call-mini {
    display: block;
    width: 50px;
    height: 50px;
    background-color: var(--main-color-7);
    background-image: var(--phone-white-reverse);
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 100%;
    animation-iteration-count: infinite;
    animation-duration: 1.5s;
    animation-name: animation-pull;

    &:hover {
        cursor: pointer;
    }
}

// Кнопка плей
.btn-play {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-btn-color);
    border-radius: 100%;
    width: 65px;
    height: 65px;
    z-index: 1;
    transition: var(--fast-animation) all;

    &:before {
        content: '';
        position: absolute;
        width: 20px;
        height: 25px;
        background-color: var(--white);
        opacity: 0.8;
        margin-left: 10%;
        clip-path: polygon(0 0, 0% 100%, 100% 50%);
        transition: var(--fast-animation) all;
    }

    &:hover {
        cursor: pointer;
        background-color: var(--main-btn-color-hover);

        &:before {
            opacity: 1;
        }
    }
}