/* Небольшие элементы с иконками */
.icon-text-phone,
.icon-text-email,
.icon-text-clock,
.icon-text-document,
.icon-text-user,
.icon-text-pen {
    position: relative;
    display: flex;
    align-items: center;
    font-size: inherit;
    color: var(--white);

    &:before {
        content: '';
        display: block;
        min-width: 18px;
        min-height: 18px;
        margin-right: 5px;
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat no-repeat;

        @media (max-width: 376px) {
            min-width: 20px;
            min-height: 20px;
        }
    }
}

// Иконка с телефоном
.icon-text-phone::before {
    background-image: var(--phone-white);
}

// Иконка с email
.icon-text-email::before {
    background-image: var(--email-white);
}

// Иконка с часами
.icon-text-clock::before {
    background-image: var(--clock-white);
}

// Иконка с документом
.icon-text-document::before {
    background-image: var(--document-white);
}

// Иконка с юзером
.icon-text-user::before {
    background-image: var(--user-white);
}

// Иконка с ручкой
.icon-text-pen::before {
    background-image: var(--pen-white);
}

/* END Небольшие элементы с иконками */

// Информация о компании
.company-info {
    display: flex;
    margin-bottom: 50px;
    align-items: center;
    container-type: inline-size;
    container-name: company-info;

    &--top {
        align-items: unset;
    }

    &--top &__icon {
        margin-top: 6px;
    }

    &__icon {
        min-width: 55px;
        margin-right: 25px;

        @container company-info (max-width: 530px) {
            min-width: 40px;
            margin-right: 15px;
        }

        @media (max-width: 376px) {
            position: absolute;
            opacity: 0.1;
            z-index: -1;
            min-width: 80px;
            top: -30px;
            left: -45px;
            margin: 0;
        }
    }

    &__title {
        text-transform: uppercase;
        color: var(--main-color-4);
        @include title-h3;
        font-weight: 500;
        margin-bottom: 10px;
    }

    &__content {
        color: var(--white);
        font-size: 1.1rem;
        line-height: 140%;
    }

    &__flex {
        display: flex;
        align-items: baseline;

        @container company-info (max-width: 530px) {
            flex-direction: column;
        }

        ul {
            padding: 0;
            margin-right: 30px;

            &:last-child {
                margin-right: 0;
            }
        }

        ul li {
            display: block;
            padding: 0;
            margin-bottom: 10px;

            &:before {
                content: unset;
            }

            strong {
                min-width: max-content;
            }
        }
    }
}