// Стилизация слайдера
.slider {
    height: auto;
    top: -65px;


    &__wrapper {
        height: auto;
    }

    &__button-wrap {
        display: flex;
        align-items: center;
        justify-content: end;
        margin-bottom: 25px;

        @media (max-width: 576px) {
            margin-bottom: 10px;
        }
    }

    &__button-next,
    &__button-prev {
        position: relative;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 95px;
        height: 65px;
        cursor: pointer;
        transition: var(--fast-animation) all;

        @media (max-width: 576px) {
            width: 75px;
            height: 40px;
        }

        @media (max-width: 376px) {
            width: 50px;
            height: 30px;
        }

        // Если слайдов нет (некуда листать)
        &.swiper-button-disabled {
            opacity: 0.5;
            cursor: auto;

            &:hover {
                background-color: unset;
            }
        }

        // Кнопка при наведении
        &:hover {
            background-color: rgba(253, 253, 253, 0.1);

            @media (max-width: 376px) {
                background-color: unset;
            }
        }

        &:before {
            position: absolute;
            content: '';
            width: 60px;
            height: 17px;
            background-image: url('../img/elements/arrow-long.svg');
            background-repeat: no-repeat;
            transition: var(--fast-animation);

            @media (max-width: 576px) {
                background-size: 100%;
                width: 45px;
                height: 14px;
            }

            @media (max-width: 376px) {
                width: 30px;
                height: 9px;
            }
        }
    }

    &__button-prev {
        transform: rotate(180deg);
    }
}

// Слайдер видео
.slider-video {

    /**
     * Поведение при активном навигационном слайде
     * https://swiperjs.com/demos#thumbs-gallery
    */
    .swiper-slide-thumb-active {
        .video-youtube-nav {
            opacity: 1;
        }
    }
}