/*
    Глобальные стили, которые необходимо подключать на каждой странице.
    Служит для формирования начального layout и сброса стандартных стилей

    Медиазапросы:
        1440px
        1210px
        1024px
        768px
        576px
        376px
*/

/* Подключение шрифтов */
@import "../fonts/inter/stylesheet.css";

* {
    padding: 0;
    margin: 0;
    line-height: normal;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

html {
    font-size: 16px;

    @media (max-width: 1024px) {
        font-size: 14px;
    }

}

input {
    outline: unset;
    border: unset;
    padding: 10px;
}

blockquote {
    position: relative;
    margin-bottom: 20px;
    padding: 35px;
    background-color: var(--main-color-8);
    clip-path: polygon(3% 0, 100% 0, 100% 90%, 97% 100%, 0 100%, 0 10%);

    @media (max-width: 768px) {
        padding: 25px;
        clip-path: polygon(3% 0, 100% 0, 100% 95%, 97% 100%, 0 100%, 0 5%);
    }

    @media (max-width: 576px) {
        padding: var(--container-padding);
    }

    &:before {
        content: "";
        display: block;
        right: -50px;
        bottom: -40px;
        width: 240px;
        height: 210px;
        position: absolute;
        background-image: var(--blockquote-white);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: right center;
        z-index: -2;
        opacity: 0.2;
    }
}

/*
    Глобальный класс open
    Используется в модальных окнах и мобильном меню
    Добавляется элементу при открытом состоянии
*/
.open {
    opacity: 1 !important;
    visibility: visible !important;
}

body {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 130%;
    position: relative;

    &:before {
        content: '';
        position: absolute;
        transition: var(--fast-animation) all;
    }
}

// Скролл бар
*::-webkit-scrollbar {
    position: absolute;
    width: 5px;
    opacity: 1;
    visibility: visible;
    transition: var(--fast-animation) all;

    &:hover {
        width: 15px;
    }
}

*::-webkit-scrollbar-track {
    background: var(--main-color-6);
    transition: var(--fast-animation) all;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--main-btn-color);
    transition: var(--fast-animation) all;
}

// Класс добавляется тегу body при активном модальном окне
body.body-modal-open {
    position: relative;
    overflow: hidden;


    &:before {
        width: 100%;
        height: 100%;
        background-color: var(--main-color);
        opacity: 0.5;
        z-index: 1000;
    }
}

p {
    margin-bottom: 20px;

    &:last-child {
        margin-bottom: 0;
    }
}

button {
    font-family: 'Inter', sans-serif;
    border: none;
}

/*
    Заголовки
*/
h1 {
    @include main-title;
}

h2 {
    @include title-h2;
}

h3 {
    @include title-h3;
}

/* END Заголовки */

/* Списки */
ul {
    list-style: none;
    padding-left: 25px;
    font-size: 1rem;

    li {
        position: relative;
        padding-left: 25px;
        display: flex;
        align-items: center;

        &:last-child {
            margin-bottom: 0 !important;
        }

        &:before {
            position: absolute;
            content: "";
            width: 15px;
            height: 15px;
            background-image: url(../img/elements/circle.svg);
            left: 0px;
            background-repeat: no-repeat;
            background-position: top right;
        }
    }
}

ul.marker-line,
ol.marker-line {
    padding-left: 15px;

    li {
        padding-left: 20px;
    }

    li:before {
        background-image: unset;
        background-color: var(--main-color-4);
        height: 3px;
        width: 10px;
        border-radius: 10px;
    }
}

/* END Списки */

a {
    font-weight: 400;
    color: #000;
    text-decoration: none;
}

img {
    width: 100%;
}

/* Контейнер */
.container {
    position: relative;
    margin: 0 auto;
    max-width: var(--container);

    @media (max-width: 1440px) {
        max-width: var(--container-1440);
    }

    @media (max-width: 1210px) {
        max-width: 100%;
        padding: 0 var(--container-padding);
    }
}

/* Общие стили блоков (чанков) */
.block {
    position: relative;
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: var(--main-color);

    @media (max-width: 1210px) {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    @media (max-width: 1024px) {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    @media (max-width: 376px) {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

/* Блок заголовок */
.block-title {
    padding-top: 24px;
    margin-bottom: 64px;
    color: var(--main-color-block-title);

    @media (max-width: 1210px) {
        margin-bottom: 40px;
    }

    @media (max-width: 376px) {
        margin-bottom: 30px;
    }

    &__title {
        display: block;
        padding-top: 24px;
        margin-top: -24px;
        @include title-h1;

        @media (max-width: 1024px) {
            padding-top: 20px;
        }

        &:after {
            content: '';
            height: 6px;
            width: 90px;
            background-color: var(--main-color-4);
            position: absolute;
            top: 0;
            left: 0;

            @media (max-width: 1024px) {
                height: 4px;
                width: 80px;
            }

            @media (max-width: 376px) {
                width: 60px;
            }
        }

        &-mini {
            display: block;
            text-transform: uppercase;
            color: var(--main-color-4);
            margin-bottom: 10px;
            font-weight: 400;

            @media (max-width: 576px) {
                font-size: 1.1rem;
            }

            @media (max-width: 376px) {
                font-size: 1rem;
            }

            ~*:after {
                content: unset;
            }
        }
    }

    &__desc {
        margin-top: 12px;
        display: block;
        font-size: 1.38rem;
        max-width: 700px;
        line-height: 140%;

        @media (max-width: 768px) {
            font-size: 1.2rem;
            margin-top: 6px;
        }

        @media (max-width: 576px) {
            font-size: 1.15rem;
            margin-top: 6px;
        }

        @media (max-width: 376px) {
            font-size: 1rem;
            margin-top: 6px;
        }
    }
}


// Стиль сбрасывает iframe и прочее в картах. Выступает оберткой для различных карт
.map-wrap {
    width: 100%;
    height: 100%;

    iframe {
        border: none;
        width: 100%;
        height: 100%;
    }
}

/* Общий класс, который задает жирность */
.bold {
    font-weight: 500;
}

@keyframes animation-pull {
    0% {
        transform: rotate(0);
    }

    50% {
        transform: rotate(15deg);
    }

    100% {
        transform: rotate(0);
    }
}

.fixed-sidebar {
    position: fixed;
    bottom: 0;
    right: 0;
    height: auto;
    width: max-content;
    z-index: 200;
    padding: 0 var(--container-padding) calc(var(--container-padding) - 10px) 0;
    display: flex;
    flex-direction: column;
    align-items: end;
    transition: var(--fast-animation) all;

    @media (max-width: 576px) {
        padding: 0 calc(var(--container-padding) - 10px) calc(var(--container-padding) - 10px) 0;
    }

    &__call {
        width: 70px !important;
        height: 70px !important;

        @media (max-width: 576px) {
            width: 50px !important;
            height: 50px !important;
        }
    }
}

// Сообщение справа снизу
.message {
    position: fixed;
    right: var(--container-padding);
    bottom: var(--container-padding);
    padding: 20px;
    width: 100%;
    color: var(--white);
    background-color: var(--main-color-9);
    border-radius: 5px;
    display: flex;
    align-items: flex-start;
    font-size: 1rem;
    max-width: 220px;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    transition: var(--fast-animation) all;

    &.open {}

    @media (max-width: 576px) {
        border-radius: 0;
        max-width: unset;
        width: 100%;
        padding: 10px;
        flex-direction: row;
        align-items: center;
        right: 0;
        bottom: 0;
    }

    button {
        position: absolute;
        top: 4px;
        right: 8px;
        width: 15px;
        transition: var(--fast-animation) all;

        @media (max-width: 576px) {
            right: 10px;
            top: 9px;
            width: 20px;
        }

        &:hover::before,
        &:hover::after {
            background-color: var(--main-btn-color);
        }
    }

    &__content {
        display: flex;
        align-items: center;
        font-weight: 600;

        @media (max-width: 576px) {
            width: 100%;
            margin-right: 30px;
        }

        @media (max-width: 376px) {
            font-size: 0.9rem;
        }
    }

    &__icon {
        overflow: hidden;
        display: block;
        max-width: 35px;
        width: 100%;
        display: flex;
        align-items: center;
        margin-right: 10px;

        img {
            width: 100%;
            height: auto;
        }
    }
}