/*
    Шапка сайта
*/

// Верхняя строка
.ticker {
    background: var(--main-color);
    color: var(--white);
    height: 50px;

    @media (max-width: 1210px) {
        display: none;
    }

    &__container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__cta,
    &__info {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__cta-text {
        margin-bottom: 0;
    }

    /* 
        ? Элемент с городами в шапке
        desc: Обертка для БЭМ блока blocks/_drop-listing.scss
    */
    &__city {
        height: 100%;
        margin-right: 25px;

        // Текущий город
        .drop-listing__current {
            padding: 0 10px;
            height: 100%;
        }

    }

    // END блок с городами


    /* 
        ? Элемент с номерами телефонов в шапке
        desc: Обертка для БЭМ блока blocks/_phone.scss
    */
    &__phone {
        .phone__number {
            font-size: 1rem;
        }
    }

    // END Элемент с номерами телефонов в шапке
}


// Основное меню
.header-info {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--main-color-3);

    @media (max-width: 1024px) {
        height: 80px;
    }

    @media (max-width: 576px) {
        height: 60px;
    }

    // Контейнер
    &__container {
        height: auto;
        width: 100%;
        display: flex;
        align-items: center;
        grid-template-areas:
            "col1 col2 col3";
        justify-content: space-between;

        @media (max-width: 1210px) {
            display: grid;
        }
    }

    // Меню в шапке
    &__nav {
        height: 50px;
        width: 100%;
        position: relative;
        display: flex;
        font-size: 1.25rem;
        align-items: center;
        justify-content: flex-end;
        overflow-x: inherit;
        overflow-y: unset;

        @media (max-width: 1210px) {
            grid-area: col1;

            .drop-listing {
                display: none;
            }
        }

        .drop-listing__item:hover {
            color: var(--main-color-7);
        }
    }
}

// Кнопка в шапке
.header-info__btn {
    margin-left: 35px;
    display: flex;
    align-items: center;

    @media (max-width: 1210px) {
        justify-content: end;
    }

    .btn {
        height: 50px;
        font-size: 1.12rem;

        @media (max-width: 1210px) {
            display: none;
        }
    }

    .btn-call-mini {
        display: none;

        @media (max-width: 1210px) {
            display: block;
        }

        @media (max-width: 576px) {
            height: 30px;
            width: 30px;
        }

    }
}

// Брэнд-лого
.header-info__brand {
    display: flex;
    align-items: center;
    height: 100%;

    @media (max-width: 1210px) {
        justify-content: center;
    }

    &-img {
        height: 100%;
        display: flex;
        align-items: center;
    }

    img {
        height: 60px;
        width: auto;

        @media (max-width: 1024px) {
            height: 45px;
        }

        @media (max-width: 576px) {
            height: 25px;
        }
    }

}

// Блок с выпадающим списком при наведении
// Меню
.nav {
    padding: 0;
    height: 50px;
    display: flex;
    align-items: center;

    @media (max-width: 1210px) {
        flex-direction: column;
        align-items: self-start;
        height: auto;
        display: none;
    }

    &__menu {
        padding: 0;
        margin-right: 10px;
        height: 100%;

        &:before {
            content: unset;
        }
    }

    // Кнопка раскрытия меню (бургер)
    &__burger {
        padding: 12px;
        height: 45px;
        min-width: 55px;
        display: none;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;

        @media (max-width: 576px) {
            padding: 7px;
            height: 32px;
            min-width: 38px;
        }

        &-line {
            display: block;
            height: 2px;
            border-radius: 5px;

            &:nth-child(1) {
                background-color: var(--main-btn-color);
            }

            &:nth-child(2) {
                background-color: var(--main-color-7);
            }

            &:nth-child(3) {
                background-color: var(--black);
            }
        }

        @media (max-width: 1210px) {
            display: flex;
        }
    }

    // END Кнопка раскрытия меню (бургер)

    &__item {
        position: relative;
        padding: 0;
        height: 100%;
        display: flex;
        align-items: center;
        width: max-content;
        margin-right: 10px;
        cursor: pointer;

        @media (max-width: 1210px) {
            margin-right: 0;
            margin-bottom: 10px;
        }

        &:before {
            content: unset;
        }

        // Раскрываем подпункты меню при наведении на элемент списка
        &:hover>.nav__sub-menu {
            visibility: visible;
            opacity: 1;

            @media (max-width: 1210px) {
                visibility: hidden;
                opacity: 0;
            }
        }

        &:hover>.nav__item-arrow {
            transform: rotate(-140deg);
        }

        &-parent {
            margin-right: 25px;
        }

        &-parent &-text {
            padding-right: 10px;

            &:after {
                content: 'Вы здесь';
                right: unset;
                left: -5px;
                top: -7px;
            }
        }

        // Пункт меню в виде текста или ссылки
        &-link,
        &-text,
        &-isfolder {
            display: flex;
            align-items: center;
            height: 100%;
            width: 100%;
            font-size: 1.25rem;
            font-weight: 300;
            padding: 0 15px;
            transition: var(--fast-animation) all;

            @media (max-width: 1210px) {
                padding-left: 0;
                padding-right: 5px;
            }
        }

        // Стили для активного меню
        &-text {
            color: var(--main-btn-color);
            cursor: context-menu;

            &:after {
                display: block;
                content: 'Вы здесь';
                position: absolute;
                width: max-content;
                padding: 2px 10px;
                background-color: var(--main-btn-color);
                color: var(--white);
                font-size: 0.6rem;
                border-radius: 10px;
                right: 0;
                top: -3px;
            }
        }

        &-link {
            &:hover {
                color: #4969B5;
            }
        }

        &-arrow {
            border: solid black;
            border-width: 0 2px 2px 0;
            display: inline-block;
            padding: 2px;
            transform: rotate(45deg);
            transition: var(--fast-animation) all;
        }
    }

    &__sub-menu {
        position: absolute;
        padding: 0;
        height: 100%;
        top: 100%;
        width: max-content;
        opacity: 0;
        visibility: hidden;
        z-index: 10;
        transition: var(--fast-animation) all;

        .nav__item {
            min-width: 100%;
            margin-right: 0;
            background-color: #fff;
            transition: var(--fast-animation) all;
        }

        .nav__item-arrow {
            transform: rotate(-45deg);
            margin-right: 10px;
        }

        .nav__sub-menu {
            left: 100%;
            top: 0;
        }
    }
}


// Выплывающий сайтбар с меню и прочими элементами для мобильной версии сайта
.mobile-menu-sidebar {
    position: fixed;
    height: 100%;
    min-width: 200px;
    width: 50%;
    padding: 40px 20px 0 20px;
    top: 0;
    left: 0;
    background-color: var(--white);
    z-index: 1000;
    transform: translateX(-100%);
    opacity: 0;
    visibility: hidden;
    transition: var(--fast-animation) all;

    @media (max-width: 768px) {
        width: 60%;
    }

    @media (max-width: 576px) {
        padding: 20px 20px 0 20px;
        width: 80%;
    }

    @media (max-width: 376px) {
        width: 90%;
    }

    &.open {
        transform: translateX(0) !important;
    }

    &__close {
        position: absolute;
        right: 25px;
        top: 20px;
        width: 35px;
        height: 35px;

        @media (max-width: 576px) {
            width: 25px;
            height: 25px;
        }

        &:hover:after,
        &:hover:before {
            background-color: var(--main-btn-color-hover);
        }
    }

    // Кнопка
    &__btn {
        position: absolute;
        bottom: 20px;
        left: 15px;
        right: 15px;
        height: 60px;

        @media (max-width: 768px) {
            height: 55px;
        }

        @media (max-width: 576px) {
            height: 50px;
        }

        @media (max-width: 376px) {
            height: 45px;
        }

        .btn {
            height: inherit;
            width: 100%;
            border-radius: 0;
        }
    }

    &__logo {
        max-width: 50%;
        margin-bottom: 20px;

        @media (max-width: 376px) {
            max-width: 60%;
        }

        img {
            width: auto;
            height: 70px;

            @media (max-width: 576px) {
                height: auto;
                width: 100%;
            }
        }
    }

    // Обертка блока информации (город и телефон)
    &__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 40px;

        .drop-listing__list {
            box-shadow: 0px 0px 10px 0px var(--main-color-3);
            left: 0;

            &__current {
                color: var(--main-color-9);
                font-weight: 400;
            }
        }

        .btn-call-mini {
            height: 35px;
            width: 35px;
        }
    }
}

// Мобильное меню (список)
.mobile-nav {
    padding: 0;

    &__item {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: baseline;
        padding: 10px 0;

        &:before {
            content: unset;
        }

        &:last-child {
            padding-bottom: 0;
        }

        //В открытом состоянии
        &--open {
            color: var(--main-btn-color);

            &:after {
                transform: rotate(-180deg);
            }
        }

        &-active .mobile-nav__item-text {
            color: var(--main-btn-color);
        }

        // Ссылка
        &-link,
        &-text,
        &-isfolder {
            display: flex;
            font-weight: 300;
            font-size: 1.3rem;
            cursor: pointer;

            &:after {
                transition: var(--fast-animation) all;
            }
        }

        &-text {
            cursor: context-menu;
            position: relative;
        }

        // Если есть дочерний список
        &-parent {
            display: flex;
        }

        &-parent>&-text {
            &:before {
                right: calc(-100% - 40px);
            }
        }

        &-parent>.mobile-nav__item-link,
        &-parent>.mobile-nav__item-text,
        &-parent>.mobile-nav__item-isfolder {

            &:after {
                content: '';
                display: block;
                margin-left: 10px;
                background-image: var(--arrow-drop-black);
                background-repeat: no-repeat no-repeat;
                background-position: center;
                background-size: 100%;
                width: 15px;
            }
        }
    }

    // Подменю
    &__sub-menu {
        display: none;
        padding-left: 10px;
    }
}