/*
    Шапка сайта
*/

// Верхняя строка
.ticker {
    background: var(--main-color);
    color: var(--white);
    height: 50px;

    @media (max-width: 1210px) {
        display: none;
    }

    &__container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__cta,
    &__info {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__cta-text {
        margin-bottom: 0;
    }

    /* 
        ? Элемент с городами в шапке
        desc: Обертка для БЭМ блока blocks/_drop-listing.scss
    */
    &__city {
        margin-right: 25px;

        // Текущий город
        .drop-listing__current {
            padding: 0 10px;
            height: 100%;
        }

    }

    // END блок с городами


    /* 
        ? Элемент с номерами телефонов в шапке
        desc: Обертка для БЭМ блока blocks/_phone.scss
    */
    &__phone {
        .phone__number {
            font-size: 1rem;
        }
    }

    // END Элемент с номерами телефонов в шапке
}


// Основное меню
.header-info {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--main-color-3);

    @media (max-width: 1024px) {
        height: 80px;
    }

    @media (max-width: 576px) {
        height: 60px;
    }

    // Контейнер
    &__container {
        height: auto;
        width: 100%;
        display: grid;
        grid-template-areas:
            "col1 col2 col3";
        justify-content: space-between;
    }

    // Меню в шапке
    &__nav {
        height: 100%;
        width: 80%;
        position: relative;
        display: flex;
        align-items: center;
        overflow-x: inherit;
        overflow-y: unset;

        @media (max-width: 1210px) {
            grid-area: col1;
        }
    }
}

// Кнопка в шапке
.header-info__btn {
    margin-left: 10px;
    display: flex;
    align-items: center;

    @media (max-width: 1210px) {
        justify-content: end;
    }

    .btn {
        height: 50px;
        font-size: 1.12rem;

        @media (max-width: 1024px) {
            display: none;
        }
    }

    .btn-call-mini {
        display: none;

        @media (max-width: 1024px) {
            display: block;
        }

        @media (max-width: 576px) {
            height: 30px;
            width: 30px;
        }

    }
}

// Брэнд-лого
.header-info__brand {
    display: flex;
    align-items: center;
    height: 100%;

    @media (max-width: 1210px) {
        justify-content: center;
    }

    img {
        height: 60px;
        width: auto;

        @media (max-width: 1024px) {
            height: 45px;
        }

        @media (max-width: 576px) {
            height: 25px;
        }
    }

}

// Блок с выпадающим списком при наведении
// Меню
.nav {
    padding: 0;
    height: 50px;
    display: flex;
    align-items: center;

    @media (max-width: 1210px) {
        flex-direction: column;
        align-items: self-start;
        height: auto;
        display: none;
    }

    &__menu {
        padding: 0;
        margin-right: 10px;
        height: 100%;

        &:before {
            content: unset;
        }
    }

    // Кнопка раскрытия меню (бургер)
    &__burger {
        padding: 12px;
        height: 45px;
        width: 55px;
        display: none;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;

        @media (max-width: 576px) {
            padding: 7px;
            height: 32px;
            width: 38px;
        }

        &-line {
            display: block;
            height: 2px;
            border-radius: 5px;

            &:nth-child(1) {
                background-color: var(--main-btn-color);
            }

            &:nth-child(2) {
                background-color: var(--main-color-7);
            }

            &:nth-child(3) {
                background-color: var(--black);
            }
        }

        @media (max-width: 1210px) {
            display: flex;
        }
    }

    // END Кнопка раскрытия меню (бургер)

    &__item {
        position: relative;
        padding: 0;
        height: 100%;
        display: flex;
        align-items: center;
        width: max-content;
        margin-right: 10px;
        cursor: pointer;

        @media (max-width: 1210px) {
            margin-right: 0;
            margin-bottom: 10px;
        }

        &:before {
            content: unset;
        }

        // Раскрываем подпункты меню при наведении на элемент списка
        &:hover>.nav__sub-menu {
            visibility: visible;
            opacity: 1;

            @media (max-width: 1210px) {
                visibility: hidden;
                opacity: 0;
            }
        }

        &:hover>.nav__item-arrow {
            transform: rotate(-140deg);
        }

        >.nav__item-arrow {
            margin-right: 15px;
            margin-left: -15px;
        }

        // Пункт меню в виде текста или ссылки
        &-link,
        &-active {
            display: flex;
            align-items: center;
            height: 100%;
            width: 100%;
            font-size: 1.25rem;
            font-weight: 300;
            padding: 0 15px;
            transition: var(--fast-animation) all;

            @media (max-width: 1210px) {
                padding-left: 0;
                padding-right: 5px;
            }
        }

        // Стили для активного меню
        &-active {
            color: var(--main-btn-color);
            cursor: context-menu;
        }

        &-link {
            &:hover {
                color: #4969B5;
            }
        }

        &-arrow {
            border: solid black;
            border-width: 0 2px 2px 0;
            display: inline-block;
            padding: 2px;
            transform: rotate(45deg);
            transition: var(--fast-animation) all;
        }
    }

    &__sub-menu {
        position: absolute;
        padding: 0;
        height: 100%;
        top: 100%;
        opacity: 0;
        visibility: hidden;
        z-index: 10;
        transition: var(--fast-animation) all;

        .nav__item {
            min-width: 100%;
            margin-right: 0;
            background-color: #fff;
            transition: var(--fast-animation) all;
        }

        .nav__item-arrow {
            transform: rotate(-45deg);
            margin-left: -45px;
        }

        .nav__sub-menu {
            left: 100%;
            top: 0;
        }
    }
}


// Мобильное меню
.mob-menu {
    position: fixed;
    height: 100vh;
    min-width: 310px;
    width: max-content;
    padding: 40px 20px 0px 20px;
    top: 0;
    left: 0;
    background-color: var(--white);
    z-index: 1000;
    transform: translateX(-100%);
    transition: var(--fast-animation) all;

    &.open {
        transform: translateX(0);
    }

    .nav {
        display: flex;
    }

    &__close {
        position: absolute;
        top: 20px;
        right: 20px;
        width: 20px;
    }

    &__btn {
        padding: 20px;

        button {
            width: 100%;
        }
    }

    &__logo {
        max-width: 70%;
        margin-bottom: 20px;
    }

    // Обертка блока информации (город и телефон)
    &__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }

    /* 
        ? Элемент с городами
        desc: Расширяет и переопределяет стили БЭМ блока blocks/_drop-listing.scss
    */
    &__city {
        color: var(--black);
        font-weight: 400;

        &-current {
            padding: 0;
        }

        &-list {
            left: 0;
            right: unset;
            box-shadow: 1px 0 15px -5px #ccc;
        }
    }


}