.modal {
    color: var(--white);
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    z-index: 2000;
    transition: var(--fast-animation) all;

    &.open {}

    // Класс добавляет фон всему экрану
    &-bg:before {
        content: "";
        background-color: var(--main-color);
        opacity: 0.5;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -100;
    }

    &__container {
        position: relative;
        padding: 45px;
        width: 80%;
        background-color: var(--main-color-9);

        .btn-close {
            position: absolute;
            top: 15px;
            right: 15px;
        }
    }

    // Для модальных окон с классом .modal-isform
    &-isform {

        // Шапка формы
        &__header {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 5px;
            text-align: center;

            ~ form {
                margin-top: 45px;

                @media (max-width: 376px) {
                    margin-top: 20px;
                }
            }
        }

        &__title {
            font-size: 1.3rem;
            font-weight: 500;
        }

        &__desc {
            font-size: 1.1rem;
        }

        // Ширина контейнера
        .modal__container {
            padding: 40px;
            width: 30%;

            @media (max-width: 1440px) {
                width: 40%;
            }

            @media (max-width: 1024px) {
                width: 50%;
            }

            @media (max-width: 768px) {
                width: 70%;
                padding: 35px;
            }

            @media (max-width: 576px) {
                width: 90%;
            }

            @media (max-width: 376px) {
                width: 100%;
                padding: 15px;
                padding-top: 30px;
            }
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    form {
        input {
            width: 100%;
            height: 40px;
            background-color: var(--main-color-8);
            color: var(--white);

            &::placeholder {
                color: var(--white);
            }
        }

        button {
            height: 45px;
            font-size: 1rem;
        }

        >* {
            margin-bottom: 20px;

            &:last-child {
                margin-bottom: 0;
            }

            @media (max-width: 376px) {
                margin-bottom: 15px;
            }
        }
    }

}

.modal-form {

    .modal__container {
        width: 40%;
    }
}

.modal-content {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;

    display: flex;
    align-items: center;
    justify-content: start;

    opacity: 0;
    visibility: hidden;
    z-index: 1000;

    overflow-y: auto;
    overflow-x: hidden;

    @media (max-width: 376px) {
        &::-webkit-scrollbar {
            width: 0;
        }
    }

    &__container {
        position: relative;
        margin-top: 5%;
        margin-bottom: 5%;
        width: 80%;

        @media (max-width: 768px) {
            width: 85%;
        }

        @media (max-width: 376px) {
            margin-top: 0;
            margin-bottom: 0;
            width: 100%;
        }

        .btn-close {
            position: absolute;
            width: 40px;
            height: 40px;
            z-index: 10;
            right: -40px;
            
            @media (max-width: 376px) {
                right: 0;
                background-color: var(--white);
                opacity: 0.3;
            }

            &:hover {
                background-color: var(--white);
                
                &:before,
                &:after {
                    background-color: var(--main-btn-color);
                }
            }

            &:before,
            &:after {
                left: unset;
                width: 40px;

                @media (max-width: 376px) {
                    background-color: var(--black);
                }
            }
        }
    }

    &__slider {
        top: unset;
        max-height: 500px;
    }

    &__button-wrap {
        position: absolute;
        bottom: 10px;
        right: 10px;
        z-index: 100;
        display: flex;
        flex-direction: row-reverse;
    }

    &__body {
        padding: 50px 60px;
        background-color: var(--main-color-9);

        @media (max-width: 1210px) {
            padding: 40px 45px;
        }
        @media (max-width: 768px) {
            padding: 30px 35px;
        }
        @media (max-width: 576px) {
            padding: var(--container-padding);
        }
        @media (max-width: 376px) {
            padding-bottom: 90px;
        }

        .block-title {
            margin-bottom: 40px;
            
            &__title {
                font-size: 2.5rem;

                @media (max-width: 768px) {
                    font-size: 2rem;
                }
                @media (max-width: 576px) {
                    font-size: 1.8rem;
                }
            }
        }
    }

    &__btn-close {
        padding: 13px var(--container-padding);
        background-color: var(--main-color-2);
        display: none;
        position: fixed;
        bottom: 0;
        width: 100%;

        @media (max-width: 376px) {
            display: block;
        }

        button,
        a {
            width: 100%;
        }
    }
}