.modal {
    color: var(--white);
    width: 100%;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;

    &.open {}

    &__container {
        width: 90%;
        background-color: var(--main-color-9);
    }

    &__form {
        padding: 45px;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;

        input {
            width: 100%;
            height: 40px;
            background-color: var(--main-color-8);
            color: var(--white);

            &::placeholder {
                color: var(--white);
            }
        }

        button {
            height: 45px;
            font-size: 1rem;
        }

        >* {
            margin-bottom: 20px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}