.offer {
    position: relative;
    padding-top: 50px;
    padding-bottom: 100px;

    // Контейнер
    &__container {
        display: flex;
        align-items: end;
        justify-content: space-between;
        z-index: 1;
    }

    // Фон картинкой
    &__bg-img {
        background-image: url(/assets/template/img/delete/bg-2.jpg);
        background-size: cover;
        width: 100%;
        height: 100%;
        display: block;
        z-index: 0;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    // Фон затемнение
    &__bg {
        background-color: var(--main-color);
        width: 100%;
        height: 100%;
        display: block;
        opacity: 0.8;
    }

    // Линия сверху
    &__line {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: var(--main-color);
        width: 100%;
        height: 130px;
    }

    // Левая часть с тайтлом, описанием и кнопкой
    &__left {
        min-width: 470px;
        margin-right: 170px;

        @media (max-width: 1440px) {
            margin-right: 90px;
        }

        &__title {
            font-size: 42px;
        }

        &__desc {
            font-size: 22px;
        }
    }

    // Заголовок
    &__title {
        margin-bottom: 25px;
    }

    // Основной контент
    &__content {
        font-size: 1.38rem;
        color: var(--white);
        margin-bottom: 65px;
    }

    // Кнопка
    &__btn {
        width: 100%;
    }

    // Правая часть с таблицей
    &__right {
        width: 100%;

        @include content-style;

        table {
            clip-path: polygon(3% 0, 100% 0, 100% 97%, 97% 100%, 0 100%, 0 3%);
        }
    }
}
