:root {
    scrollbar-color: var(--main-btn-color) var(--main-color-6);

    // Пропорция
    --index: 1vh + 1vw;

    // Контейнер
    --container: 1400px; // Дефолт: 1400px
    --container-1440: 1170px; // Дефолт: 1170px

    // Падинги контейнера, когда он резиновый ( не фиксированный )
    --container-padding: 30px;
    --container-padding-negative: -30px;

    /* Иконки */
    // ? Стрелки
    --arrow-drop-black: url("data:image/svg+xml,%3Csvg width='10' height='7' viewBox='0 0 10 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.719743 2.03023L4.99999 6.31048L9.28024 2.03023L8.21974 0.969727L4.99999 4.18948L1.78024 0.969726L0.719743 2.03023Z' fill='%231E1E1E'/%3E%3C/svg%3E");
    --arrow-drop-white: url("data:image/svg+xml,%3Csvg width='10' height='7' viewBox='0 0 10 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.719743 2.03023L4.99999 6.31048L9.28024 2.03023L8.21974 0.969727L4.99999 4.18948L1.78024 0.969726L0.719743 2.03023Z' fill='%23E8EBF2'/%3E%3C/svg%3E");

    --arrow-download-white: url("data:image/svg+xml,%3Csvg width='28' height='24' viewBox='0 0 28 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13 15.17V0H15V15.17L20.59 9.59L22 11L14 19L6 11L7.41 9.58L13 15.17ZM26 22V18H28V24H0V18H2V22H26Z' fill='%23FDFDFD'/%3E%3C/svg%3E");
    --arrow-download-black: url("data:image/svg+xml,%3Csvg width='28' height='24' viewBox='0 0 28 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13 15.17V0H15V15.17L20.59 9.59L22 11L14 19L6 11L7.41 9.58L13 15.17ZM26 22V18H28V24H0V18H2V22H26Z' fill='%23000000'/%3E%3C/svg%3E");

    --arrow-next-white: url("data:image/svg+xml,%3Csvg id='arrow-next' width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 0L6.59 1.41L12.17 7H0V9H12.17L6.59 14.59L8 16L16 8L8 0Z' fill='%23FDFDFD'/%3E%3C/svg%3E");
    --arrow-next-black: url("data:image/svg+xml;charset=UTF-8, %3csvg width='17' height='16' viewBox='0 0 17 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M8.5 0L7.09 1.41L12.67 7H0.5V9H12.67L7.09 14.59L8.5 16L16.5 8L8.5 0Z' fill='%23000000'/%3e%3c/svg%3e");

    --arrow-up-white: url("data:image/svg+xml;charset=UTF-8,%3csvg width='13' height='13' viewBox='0 0 13 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0.843146 0.343378V2.33742L8.74153 2.34449L0.136039 10.95L1.55025 12.3642L10.1557 3.7587L10.1628 11.6571H12.1569V0.343378H0.843146Z' fill='%23FFFFFF'/%3e%3c/svg%3e ");
    --arrow-up-black: url("data:image/svg+xml;charset=UTF-8,%3csvg width='13' height='13' viewBox='0 0 13 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0.843146 0.343378V2.33742L8.74153 2.34449L0.136039 10.95L1.55025 12.3642L10.1557 3.7587L10.1628 11.6571H12.1569V0.343378H0.843146Z' fill='%23000000'/%3e%3c/svg%3e ");

    // ? Иконка гео
    --geo-white: url("data:image/svg+xml;charset=UTF-8,%3csvg id='geo' width='14' height='18' viewBox='0 0 14 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M7.00001 0.666504C5.24339 0.666416 3.55772 1.35964 2.30938 2.5955C1.06104 3.83136 0.35091 5.50997 0.333344 7.2665C0.333344 11.8332 6.20834 16.9165 6.45834 17.1332C6.60929 17.2623 6.80138 17.3332 7.00001 17.3332C7.19864 17.3332 7.39073 17.2623 7.54168 17.1332C7.83334 16.9165 13.6667 11.8332 13.6667 7.2665C13.6491 5.50997 12.939 3.83136 11.6906 2.5955C10.4423 1.35964 8.75663 0.666416 7.00001 0.666504ZM7.00001 9.83317C6.42315 9.83317 5.85924 9.66211 5.3796 9.34162C4.89995 9.02114 4.52612 8.56562 4.30536 8.03266C4.08461 7.49971 4.02685 6.91327 4.13939 6.34749C4.25193 5.78171 4.52971 5.26201 4.93762 4.85411C5.34552 4.44621 5.86522 4.16842 6.431 4.05588C6.99677 3.94334 7.58322 4.0011 8.11617 4.22186C8.64912 4.44261 9.10464 4.81645 9.42513 5.29609C9.74562 5.77573 9.91668 6.33964 9.91668 6.9165C9.91668 7.69005 9.60939 8.43192 9.0624 8.9789C8.51542 9.52588 7.77356 9.83317 7.00001 9.83317Z' fill='%23ffffff' /%3e%3c/svg%3e");
    --geo-black: url("data:image/svg+xml;charset=UTF-8,%3csvg id='geo' width='14' height='18' viewBox='0 0 14 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M7.00001 0.666504C5.24339 0.666416 3.55772 1.35964 2.30938 2.5955C1.06104 3.83136 0.35091 5.50997 0.333344 7.2665C0.333344 11.8332 6.20834 16.9165 6.45834 17.1332C6.60929 17.2623 6.80138 17.3332 7.00001 17.3332C7.19864 17.3332 7.39073 17.2623 7.54168 17.1332C7.83334 16.9165 13.6667 11.8332 13.6667 7.2665C13.6491 5.50997 12.939 3.83136 11.6906 2.5955C10.4423 1.35964 8.75663 0.666416 7.00001 0.666504ZM7.00001 9.83317C6.42315 9.83317 5.85924 9.66211 5.3796 9.34162C4.89995 9.02114 4.52612 8.56562 4.30536 8.03266C4.08461 7.49971 4.02685 6.91327 4.13939 6.34749C4.25193 5.78171 4.52971 5.26201 4.93762 4.85411C5.34552 4.44621 5.86522 4.16842 6.431 4.05588C6.99677 3.94334 7.58322 4.0011 8.11617 4.22186C8.64912 4.44261 9.10464 4.81645 9.42513 5.29609C9.74562 5.77573 9.91668 6.33964 9.91668 6.9165C9.91668 7.69005 9.60939 8.43192 9.0624 8.9789C8.51542 9.52588 7.77356 9.83317 7.00001 9.83317Z' fill='%23000000' /%3e%3c/svg%3e");

    // ? Телефон
    --phone-white: url("data:image/svg+xml;charset=UTF-8,%3csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0.666664 6.79968C0.673721 12.2433 2.83932 17.4619 6.68853 21.3111C10.5378 25.1604 15.7564 27.326 21.2 27.333C22.8267 27.333 24.3867 26.6868 25.5369 25.5366C26.6871 24.3864 27.3333 22.8263 27.3333 21.1997C27.336 20.8552 27.3047 20.5113 27.24 20.173C27.1916 19.8459 27.1112 19.5244 27 19.213C26.9232 18.994 26.7905 18.7989 26.6151 18.6469C26.4397 18.4949 26.2277 18.3913 26 18.3463L18 16.5197C17.7828 16.4704 17.5568 16.4764 17.3426 16.5369C17.1283 16.5975 16.9326 16.7107 16.7733 16.8663C16.5867 17.0397 16.5733 17.053 15.72 18.693C12.8389 17.3797 10.5251 15.0754 9.2 12.1997C10.8533 11.333 10.8667 11.3197 11.04 11.133C11.1956 10.9737 11.3089 10.7781 11.3694 10.5638C11.43 10.3495 11.4359 10.1235 11.3867 9.90634L9.56 1.90634C9.50886 1.68594 9.40247 1.48217 9.25086 1.31422C9.09924 1.14628 8.90738 1.01968 8.69333 0.946339C8.37686 0.833805 8.05118 0.749043 7.72 0.693009C7.3849 0.639347 7.04604 0.612595 6.70666 0.613007C5.08696 0.637594 3.54275 1.30195 2.41113 2.46104C1.27951 3.62014 0.652391 5.17984 0.666664 6.79968ZM24.6667 21.1997C24.6632 22.118 24.2968 22.9977 23.6474 23.6471C22.9981 24.2965 22.1183 24.6628 21.2 24.6663C16.4625 24.6628 11.9201 22.7793 8.57026 19.4294C5.22037 16.0795 3.33686 11.5371 3.33333 6.79968C3.33684 5.88134 3.70321 5.00162 4.35258 4.35225C5.00194 3.70288 5.88166 3.33652 6.8 3.33301C6.94666 3.33301 7.09333 3.33301 7.24 3.33301L8.66666 9.51967L7.93333 9.90634C6.77333 10.5063 5.93333 10.9463 6.38667 12.0663C7.17751 14.2758 8.45062 16.2814 10.1135 17.9374C11.7764 19.5933 13.7872 20.858 16 21.6397C17.04 22.1197 17.52 21.213 18.12 20.0663L18.48 19.333L24.6667 20.7597L24.6667 21.1997Z' fill='%23fff'/%3e%3c/svg%3e");
    --phone-white-reverse: url("data:image/svg+xml;charset=UTF-8,%3csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg clip-path='url(%23clip0_2101_3407)'%3e%3cpath d='M18.3333 5.50016C18.3289 8.90242 16.9754 12.1641 14.5696 14.5698C12.1638 16.9756 8.90219 18.3291 5.49993 18.3335C4.48327 18.3335 3.50825 17.9296 2.78936 17.2107C2.07047 16.4918 1.6666 15.5168 1.6666 14.5002C1.66496 14.2849 1.6845 14.07 1.72493 13.8585C1.75518 13.6541 1.80542 13.4531 1.87493 13.2585C1.92296 13.1216 2.00588 12.9997 2.11549 12.9047C2.22511 12.8097 2.35762 12.7449 2.49993 12.7168L7.49993 11.5752C7.63565 11.5444 7.77692 11.5481 7.91084 11.5859C8.04475 11.6238 8.16706 11.6946 8.2666 11.7918C8.38327 11.9002 8.3916 11.9085 8.92493 12.9335C10.7256 12.1127 12.1717 10.6725 12.9999 8.87516C11.9666 8.3335 11.9583 8.32516 11.8499 8.2085C11.7527 8.10896 11.6819 7.98665 11.644 7.85273C11.6062 7.71881 11.6025 7.57755 11.6333 7.44183L12.7749 2.44183C12.8069 2.30408 12.8734 2.17672 12.9681 2.07176C13.0629 1.96679 13.1828 1.88766 13.3166 1.84183C13.5144 1.77149 13.7179 1.71852 13.9249 1.6835C14.1344 1.64996 14.3462 1.63324 14.5583 1.63349C15.5706 1.64886 16.5357 2.06408 17.243 2.78852C17.9502 3.51295 18.3422 4.48777 18.3333 5.50016V5.50016ZM3.33327 14.5002C3.33546 15.0741 3.56444 15.6239 3.97029 16.0298C4.37615 16.4357 4.92597 16.6646 5.49993 16.6668C8.46084 16.6646 11.2998 15.4874 13.3935 13.3938C15.4872 11.3001 16.6644 8.46107 16.6666 5.50016C16.6644 4.9262 16.4354 4.37638 16.0296 3.97052C15.6237 3.56467 15.0739 3.33569 14.4999 3.3335C14.4083 3.3335 14.3166 3.3335 14.2249 3.3335L13.3333 7.20016L13.7916 7.44183C14.5166 7.81683 15.0416 8.09183 14.7583 8.79183C14.264 10.1728 13.4683 11.4262 12.429 12.4612C11.3897 13.4962 10.1329 14.2866 8.74993 14.7752C8.09993 15.0752 7.79993 14.5085 7.42493 13.7918L7.19993 13.3335L3.33327 14.2252L3.33327 14.5002Z' fill='%23FDFDFD'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='clip0_2101_3407'%3e%3crect width='20' height='20' fill='white' transform='translate(0 20) rotate(-90)'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e");

    // ? Email
    --email-white: url("data:image/svg+xml,%3Csvg width='30' height='24' viewBox='0 0 30 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M25.5 0H4.5C3.30653 0 2.16193 0.474106 1.31802 1.31802C0.474106 2.16193 0 3.30653 0 4.5V19.5C0 20.6935 0.474106 21.8381 1.31802 22.682C2.16193 23.5259 3.30653 24 4.5 24H25.5C26.6935 24 27.8381 23.5259 28.682 22.682C29.5259 21.8381 30 20.6935 30 19.5V4.5C30 3.30653 29.5259 2.16193 28.682 1.31802C27.8381 0.474106 26.6935 0 25.5 0ZM24.495 3L15 10.125L5.505 3H24.495ZM25.5 21H4.5C4.10217 21 3.72064 20.842 3.43934 20.5607C3.15804 20.2794 3 19.8978 3 19.5V4.875L14.1 13.2C14.3596 13.3947 14.6754 13.5 15 13.5C15.3246 13.5 15.6404 13.3947 15.9 13.2L27 4.875V19.5C27 19.8978 26.842 20.2794 26.5607 20.5607C26.2794 20.842 25.8978 21 25.5 21Z' fill='%23FFFFFF'/%3E%3C/svg%3E");

    // ? Часы
    --clock-white: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.0013 0.666992C17.5375 0.666992 20.9289 2.07175 23.4294 4.57223C25.9299 7.07272 27.3346 10.4641 27.3346 14.0003C27.3346 17.5365 25.9299 20.9279 23.4294 23.4284C20.9289 25.9289 17.5375 27.3337 14.0013 27.3337C10.4651 27.3337 7.0737 25.9289 4.57321 23.4284C2.07273 20.9279 0.667969 17.5365 0.667969 14.0003C0.667969 10.4641 2.07273 7.07272 4.57321 4.57223C7.0737 2.07175 10.4651 0.666992 14.0013 0.666992ZM14.0013 3.33366C11.1723 3.33366 8.45922 4.45747 6.45883 6.45785C4.45844 8.45824 3.33464 11.1713 3.33464 14.0003C3.33464 16.8293 4.45844 19.5424 6.45883 21.5428C8.45922 23.5432 11.1723 24.667 14.0013 24.667C16.8303 24.667 19.5434 23.5432 21.5438 21.5428C23.5442 19.5424 24.668 16.8293 24.668 14.0003C24.668 11.1713 23.5442 8.45824 21.5438 6.45785C19.5434 4.45747 16.8303 3.33366 14.0013 3.33366ZM12.668 7.33366C12.98 7.33355 13.2823 7.44292 13.522 7.6427C13.7617 7.84248 13.9238 8.12002 13.98 8.42699L14.0013 8.66699V14.0003H18.0013C18.3345 13.9997 18.6558 14.1239 18.9021 14.3483C19.1483 14.5728 19.3015 14.8814 19.3316 15.2132C19.3617 15.545 19.2665 15.8761 19.0647 16.1412C18.8629 16.4063 18.5692 16.5863 18.2413 16.6457L18.0013 16.667H12.668C12.3559 16.6671 12.0537 16.5577 11.8139 16.358C11.5742 16.1582 11.4121 15.8806 11.356 15.5737L11.3346 15.3337V8.66699C11.3346 8.31337 11.4751 7.97423 11.7252 7.72418C11.9752 7.47413 12.3143 7.33366 12.668 7.33366Z' fill='%23FFFFFF'/%3E%3C/svg%3E");

    // ? Прочее
    --star-yellow: url("data:image/svg+xml,%3Csvg width='27' height='27' viewBox='0 0 27 27' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.746 26.1503C20.5328 26.1512 20.3225 26.1009 20.1327 26.0037L13.3327 22.4437L6.53269 26.0037C6.31188 26.1198 6.06293 26.1716 5.81413 26.1533C5.56533 26.1349 5.32666 26.0472 5.12526 25.8999C4.92386 25.7527 4.76781 25.5519 4.67484 25.3204C4.58188 25.0889 4.55572 24.836 4.59936 24.5903L5.93269 17.0837L0.439358 11.7503C0.267968 11.5793 0.146387 11.3648 0.0876616 11.1299C0.0289365 10.895 0.0352846 10.6486 0.106025 10.417C0.183304 10.18 0.32546 9.96947 0.516358 9.80921C0.707257 9.64895 0.939255 9.54541 1.18602 9.51034L8.78603 8.40367L12.1327 1.56367C12.2419 1.33824 12.4123 1.14813 12.6246 1.0151C12.8368 0.882077 13.0822 0.811523 13.3327 0.811523C13.5832 0.811523 13.8286 0.882077 14.0408 1.0151C14.253 1.14813 14.4235 1.33824 14.5327 1.56367L17.9194 8.39034L25.5194 9.497C25.7661 9.53208 25.9981 9.63562 26.189 9.79588C26.3799 9.95614 26.5221 10.1667 26.5994 10.4037C26.6701 10.6352 26.6764 10.8817 26.6177 11.1166C26.559 11.3515 26.4374 11.566 26.266 11.737L20.7727 17.0703L22.106 24.577C22.1536 24.827 22.1287 25.0853 22.0342 25.3216C21.9397 25.5579 21.7796 25.7622 21.5727 25.9103C21.3313 26.0795 21.0405 26.1639 20.746 26.1503Z' fill='%23FFD02C'/%3E%3C/svg%3E");

    // ? Цитата
    --blockquote-white: url("data:image/svg+xml,%3Csvg width='48' height='40' viewBox='0 0 48 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M37.5714 23.25C38.1237 23.25 38.5744 23.7012 38.5482 24.2528C38.2164 31.2367 34.4224 32.6445 32.9061 32.9283C32.5291 32.9989 32.1796 33.2194 32.0127 33.5647L29.8369 38.0647C29.5158 38.7287 29.9995 39.5 30.7371 39.5H35.4286C42.3743 39.5 48 30.4325 48 23.25V1.5C48 0.947716 47.5523 0.5 47 0.5H27C26.4477 0.5 26 0.947716 26 1.5V22.25C26 22.8023 26.4477 23.25 27 23.25H37.5714Z' fill='%23FFFFFF'/%3E%3Cpath d='M11.5714 23.25C12.1237 23.25 12.5744 23.7012 12.5482 24.2528C12.2164 31.2367 8.42236 32.6445 6.90615 32.9283C6.52914 32.9989 6.17964 33.2194 6.01268 33.5647L3.83685 38.0647C3.51577 38.7287 3.99954 39.5 4.73713 39.5H9.42857C16.3743 39.5 22 30.4325 22 23.25V1.5C22 0.947716 21.5523 0.5 21 0.5H1C0.447716 0.5 0 0.947716 0 1.5V22.25C0 22.8023 0.447716 23.25 1 23.25H11.5714Z' fill='%23FFFFFF'/%3E%3C/svg%3E");

    // Главные цвета
    --main-color: #272e3e;
    --main-color-2: #141e36;
    --main-color-3: #ededed;
    --main-color-4: #a5bef7;
    --main-color-5: #1b2f70;
    --main-color-6: #313a4e;
    --main-color-7: #4969b5;
    --main-color-8: #747e94;
    --main-color-9: #3e4a66;

    // Главные цвета кнопок
    --main-btn-color: #c43742;
    --main-btn-color-hover: #9e212b;

    // Белый и черные цвета
    --white: #fdfdfd;
    --black: #1e1e1e;

    /*
        Размеры заголовков
    */
    // Главный заголовок
    --main-title-size: 64px;
    --main-title-lh: 110%;

    // H1 заголовок
    --title-h1-size: 40px;
    --title-h1-lh: 110%;

    // H2 заголовок
    --title-h2-size: 32px;
    --title-h2-lh: 110%;

    // H3 заголовок
    --title-h3-size: 24px;
    --title-h3-lh: 140%;

    // Прочее
    --fast-animation: 0.3s;

    @media (max-width: 1440px) {
        // Главный заголовок
        --main-title-size: 50px;
        --main-title-lh: 110%;
    }

    @media (max-width: 1210px) {
        // H1 Заголовок
        --title-h1-size: 35px;
        --title-h1-lh: 110%;

        // H2 заголовок
        --title-h2-size: 26px;
        --title-h2-lh: 110%;

        // Заголовок h3
        --title-h3-size: 22px;
    }

    @media (max-width: 1024px) {
        // Заголовок h3
        --title-h3-size: 20px;
    }

    @media (max-width: 768px) {
        // Главный заголовок
        --main-title-size: 40px;
        --main-title-lh: 100%;

        // H1 Заголовок
        --title-h1-size: 30px;
    }

    @media (max-width: 576px) {
        // Главный заголовок
        --main-title-size: 35px;
        --main-title-lh: 100%;

        // H1 Заголовок
        --title-h1-size: 28px;

        // H2 заголовок
        --title-h2-size: 24px;

        --title-h3-size: 20px;
    }

    @media (max-width: 376px) {
        // Падинги контейнера, когда он резиновый ( не фиксированный )
        --container-padding: 20px;
        --container-padding-negative: -20px;

        // Главный заголовок
        --main-title-size: 25px;
        --main-title-lh: 100%;

        // H1 Заголовок
        --title-h1-size: 25px;

        // H3 заголовок
        --title-h3-size: 17px;
        --title-h3-lh: 140%;
    }
}

// Миксины тайтлов
@mixin main-title {
    font-size: var(--main-title-size);
    line-height: var(--main-title-lh);
}

@mixin title-h1 {
    position: relative;
    font-size: var(--title-h1-size);
    line-height: var(--title-h1-lh);
    font-weight: 600;
}

@mixin title-h2 {
    position: relative;
    font-size: var(--title-h2-size);
    line-height: var(--title-h2-lh);
}

@mixin title-h3 {
    position: relative;
    font-size: var(--title-h3-size);
    line-height: var(--title-h3-lh);
}

// Миксин общего контента в блоках
@mixin content-style {
    // Таблица
    table {
        background-color: var(--main-color-6);
        overflow-x: overlay;
        display: block;
        color: var(--white);
        font-size: 18px;
        width: 100%;
        padding: 60px 40px;

        &::-webkit-scrollbar {
            height: 2px;
        }

        tbody {
            display: block;
        }

        caption {
            width: 100%;
            display: block;
            text-align: left;
            font-size: 1.5rem;
            color: var(--white);
            margin-bottom: 40px;
            text-transform: uppercase;

            @media (max-width: 576px) {
                font-size: 1.2rem;
            }
        }

        tr {
            position: relative;
            display: flex;

            &:first-child {
                text-transform: uppercase;
                color: var(--main-color-4);

                &::after {
                    content: unset;
                }

                th:nth-child(2) {
                    background-color: unset;
                }
            }

            &:last-child {
                &::after {
                    content: unset;
                }
            }

            th {
                border-right: 10px;
                display: flex;
                min-width: 200px;
                font-weight: 300;
                height: 46px;
                align-items: center;
                justify-content: center;
                font-size: 1rem;

                @media (max-width: 768px) {
                    height: 40px;
                }

                @media (max-width: 576px) {
                    height: 30px;
                    min-width: 150px;
                }

                &:first-child {
                    justify-content: left;
                    width: 100%;
                }
                &:nth-child(2) {
                    background-color: rgba(202, 210, 230, 0.048);
                }

                span {
                    display: block;
                    margin-right: 3px;

                    &:last-child {
                        margin-right: 0;
                    }
                }
            }

            &::after {
                position: absolute;
                bottom: 0;
                content: "";
                width: 100%;
                height: 1px;
                background-color: #a5bff64b;
                display: block;

                @media (max-width: 1210px) {
                    content: unset;
                }
            }
        }
    }
}
